%body
  #wrapper.clearfix
    = render "header"
    = render "side"
    .main
      = render "contents1"
      = render "contents2"
      = render "contents3"
      = render "contents4"
      = render "contents5"
      = render "contents6"
      = render "contents7"
    = render "footer"
