= render "/projects/header"
.wrap
  = form_for @inquiry, :url => inquiry_thanks_path do |f|
    %h1
      お問い合わせ
    .box-wrap
      .box
        .form-header
          .item-name
            お名前
        .text-wrap
          = f.hidden_field :name
          = @inquiry.name
      .box
        .form-header
          .item-name
            メールアドレス
        .text-wrap
          = f.hidden_field :email
          = @inquiry.email
      .box
        .form-header
          .item-name
            メッセージ
        .textarea-wrap
          = f.hidden_field :message
          = simple_format(@inquiry.message)
    .submit-wrap
      = f.submit '送信'
= render "footer"
