= render "/projects/header"
.wrap
  = form_for @inquiry, :url => inquiry_confirm_path do |f|
    .page-header
    - if @inquiry.errors.any?
      .alert.alert-danger{:role => "alert"}
        %strong 入力内容にエラーがあります
        %ul
          - @inquiry.errors.each do |attr, msg|
            %li= msg
    %h1 
      お問い合わせ
    %form{:action => "index.html", :method => "post"}
      .box-wrap
        .box
          .form-header
            .item-name 
              お名前
            .required 
              必須
          .text-wrap
            = f.text_field :name
        .box
          .form-header
            .item-name 
              メールアドレス
            .required 
              必須
          .text-wrap
            = f.text_field :email
        .box
          .form-header
            .item-name 
              メッセージ
            .required 
              必須
          .textarea-wrap
            = f.text_area :message, :cols => 80, :rows => 8
      .submit-wrap
        = f.submit '確認'
= render "footer"
