!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", :name => "viewport"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title 時短経理
    = csrf_meta_tags
    %meta{name: "description",content: "経理業務でよく使う計算を数値を入力するだけで簡単に仕訳がわかるアプリです。 振込された金額から仕訳を作成する補助的な役割や支払手形作成時の収入印紙の節約等、幅広い業務に対応しています。"}
    %meta{name: "keywords",content: "時短経理,じたんけいり,jitankeiri,jitan-keiri,時短,経理,経理アプリ,計算アプリ,収入印紙,印紙節約,手形,手形分割,手形計算,源泉計算,配当金計算,利息計算"}
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Open+Sans:700"}
    %link{rel: "stylesheet", href: "https://use.fontawesome.com/releases/v5.11.2/css/all.css"}
    %link{:href => "https://unpkg.com/sanitize.css", :rel => "stylesheet", :type => "text/css"}
    %script{ src: "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'    
    = favicon_link_tag '/images/favicon.ico', rel: 'favicon.ico', type: 'favicon'

  %body
  = yield

